<a href="https://colab.research.google.com/github/wcj617/Repo2/blob/master/Copy_of_TF_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Public Link

In [ ]:
!ls

drive  sample_data

In [ ]:
pwd

'/content'

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('/content/drive/MyDrive/ibioML/Data/Clean_V2.csv').head()

,subject,Y1IL6,Y1CRP,Y1TNFa,Y1MCP1,Y1PTX3,osteopontin,ngal,ngalplasmaspecific,st2,...,Y1FGF23,gdf11,mpo,mesothelin,Y1CystatinC_Siemens,Y1Pt_eGFR_CystC_calc,combo_egfr,angiogenin,Y1MED1FF,PHQ
0,45,3.912,9.65,3.41,147.39,0.484,177.6290,114.064,1.30170,1.192910,...,35.7,893.748,23.35780,85.6719,1.15,63,71.2086,2464.12,1,0
1,46,3.219,2.32,3.78,308.09,0.466,55.1177,194.964,1.51266,2.123200,...,50.7,921.559,25.21110,13.0307,0.76,119,107.0400,9761.95,1,1
2,47,2.417,1.38,6.13,239.53,0.583,361.9130,223.459,2.58314,1.549230,...,61.6,718.902,160.96000,24.2671,1.25,57,50.7446,8102.35,0,0
3,51,3.099,0.45,2.15,422.74,0.387,162.9900,87.273,1.33383,6.545310,...,35.3,647.124,18.35780,27.1933,1.04,74,66.8292,7313.06,0,0
4,55,2.435,0.90,2.67,377.80,0.351,125.6200,110.779,1.33383,0.785212,...,158.4,1241.040,7.57135,30.5928,1.34,51,50.7317,5788.98,1,1

#Google Drive

#Local Drive

In [ ]:
!ls

drive  sample_data

# This is heading

$ a*x^2 + bx + C = 0 $
$\frac{a}{c}$